    body {
        padding: 2%;
    }
    
    h1 {
        color: green;
        font-weight: 400;
        text-align: center;
    }

    #contenedor-parametros-entrada{
        border: 1px solid green;
        padding: 1%;
    }

    #contenedor-parametros-entrada .input-group {
        margin-top: 1%;
    }

    #contenedor-parametros-entrada .input-group .form-control {
        margin-top: 1%;
        max-width: 15em;
    }
    
    #contenedor-boton {
        text-align: center;
        margin-top: 1%;
    }
    
    #contenedor-tabla {
        margin-top: 2%;
    }